.container{
    display: flex;
}
.fixed{
    background-color: #eff5ef;
    min-width: 420px;
    overflow-y: auto;
    max-height: 3047px;
}
.flex-item{
    flex-grow: 1;
}
.leftside {
    max-width: calc(100% - 10px);
}